<div class="subnavbar">
  <div class="subnavbar-inner">
    <div class="container">
      <ul class="mainnav">
        <li><a href="/dashboard"><i class="icon-dashboard"></i><span>Dashboard</span> </a> </li>
        <li><a href="/input-data"><i class="icon-list-alt"></i><span>Input Data</span> </a> </li>
        <li><a href="#"><i class="icon-bar-chart"></i><span>Charts</span> </a> </li>
        <li><a href="?page=backup"><i class="icon-long-arrow-down"></i><span>Backup</span> </a> </li>
      </ul>
    </div>
  </div>
</div>
